<div class="dashboard">
  <div class="row">
    <div class="sidenav col-sm-2 p-5">
      <%= link_to user_books_path do %>
        <h5 class="m-0 p-0 mb-2">Books</h5>
      <% end %>
      <h5 class="m-0 p-0 mb-2">Articles</h5>
      <h5 class="m-0 p-0">Magazines</h5>
    </div>
    <div class="col-sm-10">

    </div>
  </div>
</div>
